<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    </head>
    <body>
        <h1 onclick="slideExamples()">Click Here to show examples</h1>
        <div id="Examples" style="display:none;">
            <p id="print">
            </p>
            <button onclick="Main()">New Examples</button>
        </div>
        <br>
        --------------------------
        <br>
        <div id="input">
        
        </div>
        <button onclick="Predict()">Predict</button>
        <br>
        <div id="answer">
        </div>
        <script>
            document.onload=Main();
            
            
            function Main(){
                
                loadXMLDoc();
                getInputTable();
                
            }
            
            
            function loadXMLDoc() {
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  document.getElementById("print").innerHTML=this.responseText;
                }
              };
              xhttp.open("GET", "Prediction", true);
              xhttp.send();
            }
            function slideExamples(){
                $('#Examples').slideToggle("slow");

            }
            function getInputTable(){
                var xhttp = new XMLHttpRequest();
                var ok=false;
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("input").innerHTML=this.response;
                        ok=true;
                    }else{
                        if(this.status==500){
                            //do request again
                            getInputTable();
                        }
                    }
                };
                xhttp.open("GET", "InputPredict", true);
                xhttp.send();
            }
            function Predict(){
                var xhttp = new XMLHttpRequest();
                var table=document.getElementById("input_table");
                values=[];
                for(i=0;i<table.rows.length;i++){
                    for(j=0;j<table.rows[i].cells.length;j++){
                        if(i==3){
                            values.push(table.rows[i].cells[j].children[0].value);
                            console.log(table.rows[i].cells[j].children[0].value);
                        }

                    }
                }
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("answer").innerHTML=this.response;
                    }
                };
                var out='';
                for(i=0;i<values.length;i++){
                    var s=i;
                    if(i<values.length-1)
                        out+=s+"="+values[i]+"&";
                    else{
                        out+=s+"="+values[i];
                    }

                }
                console.log(out);
                xhttp.open("POST", "Predict", true);
                xhttp.send(out);
            }
            
            
            

        </script>
    </body>

</html>